html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans SC', sans-serif;
}

* {
    margin: 0 !important;
    padding: 0 !important;
}

.qa {
    width: 100%;
    height: 100%;
    text-align: center;
}

.question {
    font-size: 5em;
    background-color: blanchedalmond;
    height: 100%;
}

.answer {
    font-size: 3em;
}

@media screen and (min-width: 640px) {
    .question {
        font-size: 8em;
    }

    .answer {
        font-size: 6em;
    }
}

.answer .hard {
    background-color: gainsboro;
}

.answer .too-hard {
    background-color: darkgrey;
}

.gif {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

a {
    text-decoration: none;
    color: black;
}
